@import "../src/utility/breakpoints";

.body {
	min-height: 100vh;
	background-color: #000000;
	background-image: url("../src/utility/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow-x: hidden;

	color: #fcfcfc;
	font-family: "Inter", sans-serif;

	margin: -8px;
	padding: 0 0 200px 0;
}

.pageContainer {
	max-width: $large-screen;
	margin: 0 auto;
	padding: 0 18px;
}

.addCountryCard {
	display: flex;
	align-items: center;
	justify-content: center;
}

.addCountryIcon {
	opacity: 0.15;
}

@keyframes breathing {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

.errorContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.errorText {
	font-size: 36px;
	font-weight: bold;
	text-align: center;

	animation: breathing 3s infinite;
}

.longWait {
	padding-top: 20px;

	font-size: 24px;
	font-weight: regular;
	font-style: italic;
	text-align: center;
}
