@import "../utility/breakpoints";

$cardHeight: 100px;

.cardContainer {
	width: 100%;
	margin-top: 32px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	background: linear-gradient(
		131deg,
		rgba(255, 255, 255, 0.1) 7.16%,
		rgba(255, 255, 255, 0.02) 90.14%
	);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(100px);

	&:hover {
		background-color: rgba(255, 255, 255, 0.05);
		transition: linear 200ms;
		cursor: pointer;
	}
}

.clickArea {
	width: 100%;
	min-height: 120px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@include breakpoint(medium) {
		min-height: $cardHeight;
	}
}

.cardInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: calc(100% - 120px);
	height: $cardHeight;

	@include breakpoint(medium) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		height: 100%;
	}

	@include breakpoint(large) {
		width: 100%;
	}
}

.titleContainer {
	width: 300px;

	@include breakpoint(medium) {
		min-width: 280px;
	}
}

.title {
	font-size: 1.35rem;
	font-weight: bold;

	padding: 5px 0 0 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	@include breakpoint(medium) {
		padding: 0 80px;

		white-space: normal;
		text-overflow: unset;
		overflow: visible;
	}
}

.supplementalInfoContainer {
	width: 65vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@include breakpoint(small) {
		width: 100%;
	}
}

.commute {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-left: 20px;
	min-width: 50px;

	@include breakpoint(small) {
		min-width: 120px;
	}
}

.commuteIcon {
	margin: 3px 5px 0 0;
}

.flightIcon {
	transform: rotate(180deg);
}

.commuteText {
	font-size: 1rem;
	font-weight: normal;

	@include breakpoint(small) {
		font-size: 1.25rem;
	}
}

.days {
	min-width: 50px;
	font-size: 1rem;
	font-weight: normal;

	@include breakpoint(small) {
		min-width: 120px;
		font-size: 1.25rem;
	}
}

.extraCostContainer {
	min-width: 50px;
	text-align: right;

	@include breakpoint(small) {
		min-width: 120px;
	}
}

.dailyCost {
	font-weight: bold;
}

.extraCost {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;

	@include breakpoint(small) {
		font-size: 1.25rem;
	}
}

.totalCost {
	margin: 0 0 8px 20px;
	min-width: 100px;
	font-size: 1.25rem;
	font-weight: bold;

	@include breakpoint(medium) {
		min-width: 120px;
		margin: 0 85px;
	}
}

.deleteButton {
	margin-right: 30px;
	opacity: 0.8;

	@include breakpoint(medium) {
		margin-right: 40px;
	}

	&:hover {
		color: #e53e3e;
		transition: linear 200ms;
		cursor: pointer;
	}
}
